# Development Settings (or leave empty for default http://localhost:8000)
VITE_API_URL=http://localhost:8000

# Vercel Production Settings (Configure on Vercel Dashboard):
# VITE_API_URL=https://todo-app-kl57.onrender.com
